altair
annotated-types
attrs
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
cymem
gitdb
GitPython
idna
importlib-metadata
jellyfish
Jinja2
joblib
jsonschema
jsonschema-specifications
langcodes
markdown-it-py
MarkupSafe
mdurl
murmurhash
networkx
nltk
numpy
packaging
pandas
Pillow
pip
preshed
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
python-dateutil
pytz
referencing
regex
requests
rich
rpds-py
scikit-learn == 1.2.2
segtok
setuptools
six
smart-open
smmap
spacy
spacy-legacy
spacy-loggers
srsly
streamlit
streamlit-chat
tabulate
tenacity
thinc
toml
toolz
tornado
tqdm
typer
typing_extensions
tzdata
tzlocal
urllib3
validators
wasabi
weasel
wheel
yake
zipp
